@font-face {
    font-family: Universe-Light-Cd;
    src: url(//intelligentmonitoringwebapp.azurewebsites.net/src/fonts/univers-light-cd.ttf);
}

/* MAIN */

footer.container-fluid p {
    margin-top: 1em;
    margin-bottom: 3em;
}

.offline-section {
    overflow-y: scroll;
    max-height: 18em;
}

.filter-section {
    overflow-y: scroll;
    max-height: 18em;
    min-height: 10.515em;
}

#device_filter, #device_filter2 {
    width: 100%;
}

footer a:hover {
    text-decoration: none !important;
    opacity: 0.5;
}

.floorplan-image {
    position: relative;
    width: 70%;
    float: none;
    margin: 2em auto;
}

.floorplan-image img {
    height: 400px;
    width:100%;
    margin-bottom: 3em;
}

.copy {
    font-family: 'Helvetica';
}

.relative-pos {
    position: relative;
}

.front-floorplan .col-sm-12 {
    position: relative;
    width: 100%;
    float: none;
    margin: 2em auto;
}

.front-floorplan .col-sm-12 img {
    height: 100%;
    width:100%
}

#popup {
    text-align: left !important;
    display: none;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;"
}

#popup2 {
    text-align: left !important;
    display: none;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.floorplan-section {
    background: #fff;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.floorplan-section h5 {
    color: #002f47;
    padding: 1em;
    border: 2px solid #002f47;
    width: 27.5%;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 3em;
    text-align: center;
}

.statistics-view footer {
    text-align: center;
    background: #f7f7f7;
    padding: 3em;
}

.statistics-view footer a {
    color: #002f47;
}

.statistics-view {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    overflow: scroll;
}

.statistics-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    color: #fff;
    background: #002f47;
    padding: 2em;
}

.statistics-logo {
    position: absolute; 
    left: 20px; 
    top: -10px;
}

.statistics-logo h1 {
    color: #6bc5c3; !important;
}

.statistics-logo span {
    font-size: 14px;
    color: #fff;
}

.graphs h5 {
    color: #002f47; 
    padding: 1em; 
    border: 2px solid #002f47;
}

.goBackDiv {
    position: absolute; 
    top: 18px; 
    left: 0; 
    text-align: center; 
    width: 100%;
}

.goBackDiv span {
    color: #fff; 
    border: 1px solid #fff; 
    padding: 0.4em; 
    border-radius: 4px;
}

.measurements {
    position: absolute; 
    right: 20px; top: 20px;
}

.measurements  h5 {
    display: inline; 
    margin-right: 0.5em;
}
    
#battery {
    font-size: 15px;
    color: #002f47;
    background: #fff;
    padding: 0.4em;
}

#signal {
    font-size: 15px;
    color: #002f47;
    background: #fff;
    padding: 0.4em;
}

#lastSeen {
    font-size: 15px;
    color: #002f47;
    background: #fff;
    padding: 0.4em;
}

.statistics-banner {
    position: relative;
    background: #002f47;
    padding: 5em;
}

.statistics-banner h3 {
    text-align: center;
    color: #fff;
}

.statistics-banner h5 {
    color: #fff; 
    text-align: center; 
    text-transform: uppercase;
}

#ids {
    color: #ddd;
    text-transform: none;
}

#graphy, graphy2, graphy3 {
    overflow-x: scroll;
}

/* CHARTS */

.bar {
    fill: #002f47;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

path { 
    stroke: #002f47;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #002f47;
    stroke-width: 1;
}

/* END OF CHARTS */


.img-responsive {
    height: 100% !important;
}

header {
    background-color: #002f47;
    margin-bottom: 25px
}

header h1 {
    color: #6bc5c3;
    padding-left: 15px;
    padding-bottom: 13px;
    display: inline-block;
}

header h6 {
    display: inline-block;
    color: #fff;
}

h1 {
  color: #369;
  font-family: Universe-Light-Cd, Arial, Helvetica, sans-serif;
  font-size: 250%;
}

header .form-group {
    width: 30%; 
    float: right; 
    margin-top: 20px; 
    margin-right: 20px;
}

#search {
    width: 100%; 
    height: 3em; 
    border: none; 
    border-bottom: solid 1px rgba(0, 0, 0, .03);
}

.searchForm {
    margin-top: 0; 
    padding: 0;  
    position: absolute; 
    z-index: 10; 
    width: 30%; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1); 
    margin-bottom: 0; 
    border-radius: 0 0 4px 4px !important;
}

.searchForm .panel {
    display: none; 
    border-radius: 0 0 4px 4px !important; 
    max-height: 25em; 
    overflow: scroll; 
    padding: 0;
}

.searchForm .panel-body {
    border-radius: 0 0 4px 4px !important;
    padding-bottom: 0;
}

.searchBox a{
    color: #666;
    display:block;
    height:100%;
    width:100%;
}

.searchForm > div:first-child {
    margin-bottom: 0;
}



.panel-heading {
    font-family: Universe-Light-Cd, Arial, Helvetica, sans-serif;
    width: 160px;
    font-size: 13pt;
}

body {
    background: #f7f7f7;
    font-family: Universe-Light-Cd, Arial, Helvetica, sans-serif;
    font-size: 10.8pt;
}



.btn {
    background-color: #6bc5c3;
    font-family: Universe-Light-Cd, Arial, Helvetica, sans-serif important;
}

.dropdown {
    float: left;
    margin-right: 10px !important;
    font-family: Universe-Light-Cd, Arial, Helvetica, sans-serif !important;
}

.dropdown button{
    background-color: #6bc5c3 !important;
}

#dropdownMenu1, #dropdownMenu2 {
    font-family: Universe-Light-Cd, Arial, Helvetica, sans-serif !important;
    border: 0 !important;
}

th.header { 
    background-image: url(../js/tablesorter/themes/blue/asc.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    letter-spacing: -10 !important;
    margin-left: -1px; 
} 



th.headerSortUp { 
    background-image: url(../js/tablesorter/themes/blue/asc.gif); 

} 

th.headerSortDown { 
    background-image: url(../js/tablesorter/themes/blue/desc.gif); 

} 

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #fff !important;
}

.panel-default {
    border-color:#f7f7f7 !important;
}

.panel {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
    border: none !important;
}

.panel-default > .panel-heading {
    color: #fff !important;
    background: #002f47 !important;
    border-color: #f7f7f7 !important;
    
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.tablesorter td {
    border-bottom: 10px solid #fff;
    padding: 1em; 
    background: #eee;
    border-top: 10px solid #fff;
    color: #666;
     border-radius: 8px;
}
.tablesorter td:hover, .tablesorter th:hover {
    cursor: pointer;
  
}

.progress {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

#graphy rect:hover {
  fill: brown !important;
}


#graphy2 rect:hover {
  fill: brown !important;
}

.axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 980px) {
	.helpful {  display: none; }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 680px) {
    .blockit h1 {  display: none !important; }
    .goBackDiv { left: 10px !important; text-align: left !important; }
    .goBackDiv a span { border: 0 !important; }
}

@media only screen and (max-width: 400px) {
    .blockit h5 {  font-size: 8px; }
    #lastSeen, #battery, #signal { font-size: 8px !important; padding: 0.1em; }
    .blockit { top: 5px !important; }
}