<div style="text-align: center; position: fixed; left: 0; right: 0; top:0; bottom:0; width: 100%; height: 100%; background: #fff;">
<div *ngIf="device">
  <h2>{{device.name}}</h2>
    <p><strong>ID: </strong>{{device.id}}</p>
    <p><strong>Name: </strong>{{device.name}}</p>
    <p><strong>Location: </strong>{{device.locationName}}</p>
    <p><strong>Offline? : </strong>{{device.contactLost}}</p>
    <p><strong>Tid offline: </strong>{{device.contactLostTime}} millisekunder</p>
  <button (click)="goBack()">Back</button>
</div>
</div>
