


<header>
    <h1>SIGMA</h1>
    <h6>INTELLIGENT MONITORING</h6>
</header>
<div class="container-fluid" [@itemAnim]>

            <div class="row">
                <div class="col-sm-6"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">Overview</div>
                            <overview-devices>Loading AppComponent content here ...</overview-devices>
                    </div>
                    
                   <div class="panel panel-default">
                        <div class="panel-heading">Search device</div>
                        <div class="panel-body">
                            <form class="navbar-form" role="search">
                                <div class="form-group" style="width: 100%;">
                                    <input  type="text" class="form-control" placeholder="Search" name="search" id="search" style="width: 100%; height: 3em;">
                                </div>
                                <div class="search_results">
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-sm-6"> 
                    <div id="panel_offline" class="panel panel-default">
                        <div class="panel-heading">Offline devices </div>
                        <div class="panel-body" style="overflow-y: scroll;
max-height: 18em;">
                            <div class="list-group">
                                <table class="table table-striped">
      
                                    <tbody>
                                        <tr>
   <td><offline-devices>Loading OfflineComponent content here ...</offline-devices></td>
                                                    

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter</div>
                        <div class="panel-body" style="overflow-y: scroll;
max-height: 18em;">
                            <div class="dropdown">
                                
                               
                            </div>
                            <div class="list-group">
                                <table class="table table-striped">

                                    <tbody>
                                        <tr>
<td><filter-devices>Loading AppComponent content here ...</filter-devices></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
        <footer class="container-fluid text-center">
            <br><br>
            <p style="margin-top: 1em; font-family: Futura;">&copy; Intelligent Monitoring</p>
                  
                       
           
        </footer>