<div class="panel-body">
                            <div class="panel_positive panel-default" *ngIf="devices">
                                <div class="panel-body">
                                    <p id="greenText" class="col-sm-4">{{ devices_online(devices) }}% Online</p>
                                    <div class="progress">
                                        <div id="greenOnline" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                           
                            <div class="panel_positive panel-default">
                                <div class="panel-body">
                                    <p id="redText" class="col-sm-4" *ngIf="devices">{{ devices_offline(devices) }}% Offline</p>
                                    <div class="progress">
                                        <div id="redOffline" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>