<div [@itemAnim] class="statistics-view">
    
    <div class="statistics-header">
        <div class="blockit statistics-logo">
            <a href="/"><h1>SIGMA <span>INTELLIGENT MONITORING</span></h1></a>
        </div>
        <div class="blockit goBackDiv">
            <a href="/"><span>&larr; Go Back</span></a>
        </div>
        <div class="blockit measurements">
            <h5> Batteri: <span class="label" id="battery">Fetching...</span></h5>
            <h5> Signal: <span class="label" id="signal">Fetching...</span></h5>
            <h5> Last updated: <span class="label" id="lastSeen">Fetching...</span></h5>
        </div>
    </div>
    
    <div class="statistics-banner">
        <h3>Statistics</h3>
        <div>
            <h5><span id="name">Fetching...</span><span id="ids">(Fetching...)</span></h5></div>
    </div>
    
    <div class="container text-center"> 
        <br>
        <div class="row graphs">
            <div class="col-sm-4">
                <h5>Times offline/day (weekly)</h5>
                <div id="graphy"></div>
            </div>
            <div class="col-sm-4">
                <h5>Total time offline/day (weekly)</h5>
                <div id="graphy2"></div>
            </div>
            <div class="col-sm-4">
                <h5>Signal strength (daily)</h5>
                <div id="graphy3"></div>
            </div>
      </div>
        <br>
    </div>
    
    <div class="row floorplan-section">
        <div id="popup2"></div>
        
        <h5>Floor plan</h5>
        <div class="col-sm-12 floorplan-image">
            
            <div id="floorplan"></div>
            
            <img src="http://intelligentmonitoringwebapp.azurewebsites.net/src/img/floorplan.jpg" class="img-responsive"  alt="Image">
        </div>
    </div>
    
    <footer>
        <a href="/">2017 <span class="copy">&copy;</span> Intelligent Monitoring</a>
    </footer>
 </div>